/* Leaflet needs its own CSS */
@import "leaflet/dist/leaflet.css";

/* Small UI tweaks */
body {
  background: #f8fafc; /* light */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar-scroll {
  scrollbar-width: thin;
}

/* small card shadow */
.card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
